@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Oswald:wght@300&display=swap');

* {
    
    text-align: center;
}

body {
    background-image: linear-gradient(315deg, #3D93DD 0%, rgb(188, 224, 213) 100%);
}

.title {
    font-family: 'Beau Rivage', sans-serif;
    font-size: 200px;
    color: #129c57;
}

.git {
    color: white;
}

.input {
    background-color: black;
}

.description {
    font-size: 30px;
    color: #F66867;
}

img {
    width: 550px;
    height: 650px;
    padding-top: 50px;
}

.recipe {
    display: hidden;
    color: #F66867;
}

.btn {
    background-color:#fff;
    color: #3D93DD;
}

.material-icons {
    background-color: #fff;
    color: #3D93DD;
}

.btn:hover {
    background-image: linear-gradient(315deg, #3D93DD 0%, rgb(205, 225, 236) 100%);
}
